# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/misc.xml
/.gradle/8.4/checksums/checksums.lock
/.gradle/8.4/dependencies-accessors/98d43d0bc054fdd3850ea83773727fb73542bcc1/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.4/dependencies-accessors/98d43d0bc054fdd3850ea83773727fb73542bcc1/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/dependencies-accessors/executionHistory.bin
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/8.4/fileChanges/last-build.bin
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.gradle/8.4/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/config.properties
/.gradle/file-system.probe
/.idea/modules/app/Contacts.app.iml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.gradle/8.4/checksums/md5-checksums.bin
/.gradle/8.4/checksums/sha1-checksums.bin
/.gradle/8.4/dependencies-accessors/8bc3d6c8c79383853cdd5178ea16aa95ad0cd6fa/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.4/dependencies-accessors/8bc3d6c8c79383853cdd5178ea16aa95ad0cd6fa/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/.gradle/8.4/dependencies-accessors/222eec59b88ab5badc5a4a780040f54f9d4850b6/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.4/dependencies-accessors/222eec59b88ab5badc5a4a780040f54f9d4850b6/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/.gradle/8.4/dependencies-accessors/731b21bd73f52da8867baa0e6d4cc3c5194afac3/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.4/dependencies-accessors/731b21bd73f52da8867baa0e6d4cc3c5194afac3/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/.gradle/8.4/dependencies-accessors/199986ea048d8e5e50339836b703331a71c5adb6/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.4/dependencies-accessors/199986ea048d8e5e50339836b703331a71c5adb6/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
